<div id="page" class="container-fluid d-print-block">
    <header id="page-header" class="row">
<div class="col-12 pt-3 pb-3">
    <div class="card ">
        <div class="card-body ">
            <div class="d-sm-flex align-items-center">
                <div class="mr-auto">
                    <div class="page-context-header">
                        <div class="page-header-headings">
                            <ul>
                                <li>
                                    <h1><b>KIET</b>- ANGULAR PROJECT</h1>
                                </li>
                                <li class="nav-item d-flex align-items-center">
                                    <div class="usermenu"><span class="login">You are not logged in. (<a  [routerLink]="['/login']" >Log in</a>)</span></div>
                                </li>
                            </ul>
                            
                        </div>
                    </div>
                </div>
        
                <div class="header-actions-container flex-shrink-0" data-region="header-actions-container">
                </div>
            </div>
            <div class="d-flex flex-wrap">
                <div class="ml-auto d-flex">
                    
                </div>
                <div id="course-header">
                    
                </div>
            </div>
        </div>
    </div>
</div>


  
<div id="page" class="container-fluid d-print-block">
  <header id="page-header" class="row">
  <div class="col-12 pt-3 pb-3">
    <div class="card ">
      <div class="card-body ">
        <h2 class="card-title d-flex justify-content-center">ANGULAR</h2>
        <hr>
        <h4 class="card-subtitle mb-2 text-muted">About</h4>
        <p class=" fs-1">Angular is a platform and framework for building single-page client applications using HTML and TypeScript. Angular is written in TypeScript. It implements core and optional functionality as a set of TypeScript libraries that you import into your apps.
             <br>
              <br>
          The architecture of an Angular application relies on certain fundamental concepts. The basic building blocks of the Angular framework are Angular components that are organized into NgModules. NgModules collect related code into functional sets; an Angular app is defined by a set of NgModules. An app always has at least a root module that enables bootstrapping, and typically has many more feature modules.
        </p>
    
      </div>
    </div>
  </div>