<div class="container m-auto">
    <div class="row">
      <div class="col-sm">
        <div class="card text-white bg-light mb-3" style="max-width: 22rem;">
          <div class="card-body">
            <h1 class="card-title"><a [routerLink]="['/addproduct']">INSERT ITEMS</a></h1>
          </div>
        </div>
      </div>
      <div class="col-sm">
        <div class="card text-white bg-light mb-3" style="max-width: 22rem;">
          <div class="card-body">
            <h1 class="card-title"><a [routerLink]="['/productdetails']">SHOW ITEMS</a></h1>
          </div>
        </div>
      </div>
        
          <div class="card text-white bg-light mb-3 m-auto " style="max-width: 22rem;">
            <div class="card-body">
              <h1 class="card-title"><a [routerLink]="['/productlist']">DELETE/UPDATE</a></h1>
            </div>
          </div>
       
</div>


