<div class="container">
  <table class="table table-hover">
    <thead class="thead-light">
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Product Id</th>
        <th scope="col">Product Name</th>
        <th scope="col">Price</th>
        <th scope="col">Quantity</th>
        <th scope="col">Category</th>
        <th scope="col">Brand</th>
        <th scope="col">Availibility</th>
        <th scope="col" colspan="2" style="text-align: center">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of allUsers">
        <th scope="row">{{user.id}}</th>
        <td>{{user.pid}}</td>
        <td>{{user.pname}}</td>
        <td>{{user.price}}</td>
        <td>{{user.pqnty}}</td>
        <td>{{user.pcateg}}</td>
        <td>{{user.pbrand}}</td>
        <td>{{user.pavail}}</td>
        <td><button class="btn btn-warning" (click)="editUser(user)">Update</button></td>
        <td><button class="btn btn-danger" (click)="deleteMe(user)">Delete</button></td>
      </tr>
    </tbody>
  </table>
</div>






  
  